[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501, B008
exclude = .venv, __pycache__, .git, migrations
per-file-ignores =
    backend/migrations/env.py: F401
    backend/migrations/versions/*: E501
    backend/app/routes/article.py: F811
